body {
    margin: 0;
    /* set default font size */
    font-size: 18px;
font-family: 'Source Sans Pro', sans-serif;
}

<style>
a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}

</style>

/* ========
Typography
======== */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 70px;
}
/* ========
Layout
======== */

header {
    background-color: #111111;
    color: #e10030;
    padding: 30px 0;
    text-align: center;
}

footer {
  background-color: #000000;
  color: yellow;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 200px;
}
.frame {
    background-color: #000;
    width: 100%;
}
.answers {
    text-align: center;
}

.sections {
    background-color: #960020;
    color: yellow;
  padding: 20px 0 0;
    text-align: center;
}

.columns {
    display: flex;
}

.column {
    margin: 0 10px;
    width: 25%;
}
.column2 {
    margin: 0 10px;
}
.column3 {
    margin: 0 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 33%;
}
