body {
    margin: 0;
    /* set default font size */
    font-size: 18px;
background-color: #111111;
color: #FFFFFF;
}

<style>
a:link {
  color: #add8e6;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #add8e6;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e6b8b8;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
</style>

/* ========
Typography
======== */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
a {
  color: lightsalmon;
}
h4 {
    font-size: 70px;
}
/* ========
Layout
======== */

header {
    background-color: #111111;
    color: #e10030;
    padding: 30px 0;
    text-align: center;
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 200px;
}

.answers {
    width: 1500px;
    margin: 50px auto;
    text-align: center;
}

.sections {
    background-color: #960020;
    color: #add8e6;
    padding: 75px 0;
    text-align: center;
}

.columns {
    display: flex;
}

.column {
    margin: 0 10px;
    width: 25%;
}
.column2 {
    margin: 0 10px;
}
.column3 {
    margin: 0 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 33%;
}
